<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HNLVideo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E91B1D0A1E5C510800CF46E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E91B1D261E5C510800CF46E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E91B1D311E5C510800CF46E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
